<section class="" >
    <h1 class="text-center my-1 fancyFont">Enter Your Password</h1>

    <div class="d-flex justify-content-center align-items-center w-100" >  
        <form [formGroup]="PasswordForm" >
            <mat-form-field appearance="outline" class="w-100" >
                <mat-label>password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="PasswordForm.get('password')?.hasError('required')">Please Enter your password</mat-error>
            </mat-form-field>
            <h3 *ngIf="isInvalidPassword" class="text-danger text-center" >Invalid Password</h3>
            <div class="d-flex justify-content-end mb-1 me-1">
                <button class="btn btn-success" (click)="submit()" >Submit</button>
            </div>
        </form>
    </div>
</section>